{% extends 'layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Users' %}{% endblock %}

{% block content %}
    <div class="mx-auto">
        <h1 class="mt-4">{% translate 'Users' %}</h1>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">{% translate 'UserID' %}</th>
              <th scope="col">{% translate 'UserName' %}</th>
              <th scope="col">{% translate 'UserFullName' %}</th>
              <th scope="col">{% translate 'UserDateReg' %}</th>
              <th scope="col">{% translate 'UserActions' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users_list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.date_joined|date:'Y.m.d H:i' }}</td>
                    <td>links</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">{% translate 'UserNotFound' %}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="mr-2" href="?page=1">{% translate 'PaginatonFirst' %}</a>
                    <a class="mr-2" href="?page={{ page_obj.previous_page_number }}">{% translate 'PaginatonPrevious' %}</a>
                {% endif %}

                <span class="current">
                    {% translate 'PaginatonPage' %} {{ page_obj.number }} {% translate 'PaginatonPageIS' %} {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="ml-2" href="?page={{ page_obj.next_page_number }}">{% translate 'PaginatonNext' %}</a>
                    <a class="ml-2" href="?page={{ page_obj.paginator.num_pages }}">{% translate 'PaginatonLast' %}</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}