{% extends 'layout.html' %}
{% load bootstrap4 i18n %}

{% block title %}{% translate 'NameProject' %}{% endblock %}

{% block content %}
    <div class="pt-md-5 pb-md-5 text-center">
      <h1>{% translate 'Welcome' %}</h1>

        <div class="card text-left mt-5">
          <div class="card-header">
              <strong>Описание</strong>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Менеджер задач - это простой и полезный инструмент для управления проектами.<br>
                 Вы можете в несколько кликов раздать задачи всем своим сотрудникам и следить за их выполнением.</p>

                <h5 class="pt-4">Возможности текущей реализации:</h5>
                <ul style="font-size: medium">
                    <li>Регистрация и редактирование пользователей.</li>
                    <li>Просмотр списка пользователей без регистрации.</li>
                    <li>Создание и редактирование уникальных "меток" и "статусов".</li>
                    <li>Создание и редактирование задач с указанием текущего статуса и исполнителя.</li>
                    <li>Добавление в задачу необходимых "меток" для быстрого поиска.</li>
                    <li>Просмотр детализированной информации по задаче.</li>
                </ul>
                <h5 class="pt-4">Безопасность:</h5>
                <ul style="font-size: medium">
                    <li>Привязанные к задачам "статус" или "метки" нельзя удалить.</li>
                    <li>Пользователя указанного в задаче нельзя удалить.</li>
                    <li>Задачу может удалить только её создатель.</li>
                </ul>
            </blockquote>
          </div>
        </div>
    </div>
{% endblock %}